.btn {
    &__default {
        margin: 0;
        display: block;
        font-family: "Grtsk Tera";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 10px 16px 12px 17px;
        border: 1px solid var(--primary1);
        color: var(--primary1);
        transition: all 0.4s ease;

        @include hover {
            background: var(--primary1);
            color: var(--primary2);
        }
    }

    &__care {
        margin: 0;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        font-family: "Grtsk Tera";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-transform: uppercase;
        opacity: .5;

        @include mobile {
            font-size: 9px;
        }
    }
}
