.contact {
  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(12, 1fr);
    // height: 100vh;
    column-gap: 16px;
    margin-bottom: 400px;

    @include big-desktop {
      margin-bottom: 300px;
    }

    @include tablet {
      margin-bottom: 250px;
    }

    @include mobile {
      margin-bottom: 200px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &.desk {

      @include  mobile {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @include  mobile {
        display: block;


      }
    }
  }

  &__info {
    grid-column: 2 / 3 span;
    margin-bottom: 159px;

    @include big-desktop {
      margin-bottom: 89px;
    }

    @include tablet {
      margin-bottom: 132px;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    .title {
      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 30px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul > li {
      @include mb(15px);
    }

    ul > li > a {
      margin: 0;
      transition: all 0.1s ease;
      font-family: "Grtsk Tera";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: var(--primary1);
      text-transform: uppercase;

      @include hover {
        opacity: 0.5;
      }

      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__img {

    .image {
      width: 100%;
      height: 100%;
    }

    .default__item--before {
      width: 100%;
      height: 100%;
    }

    .default__item--after {
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      transform: scale(1.5);
    }

    &--group {
      grid-column: 6 / 7 span;
      display: flex;
      position: relative;

    }

    &--1 {
      grid-column: 1 / 1 span;
      position: relative;

      .default__item {
        position: absolute;
        max-width: 403px;
        min-width: 403px;
        max-height: 536px;
        min-height: 536px;
        transform: translateX(-100%);

        @include big-desktop {
          max-width: 298px;
          min-width: 298px;
          max-height: 398px;
          min-height: 398px;
        }

        @include tablet {
          transform: translateX(-105%);
          min-width: 217px;
          max-width: 217px;
          max-height: 291px;
          min-height: 291px;
        }
      }



      @include mobile {
        display: none;
      }
    }

    &--2 {
      grid-column: 6 / 3 span;
      position: relative;


      .default__item {
        position: absolute;
        transform: translateY(-100%);
        max-width: 403px;
        min-width: 403px;
        max-height: 505px;
        min-height: 505px;
        margin-top: -118px;


        @include big-desktop {
          transform: translateY(-97%);
          min-width: 333px;
          max-width: 333px;
          max-height: 416px;
          min-height: 416px;
        }

        @include tablet {
          display: none;
        }
      }


      @include mobile {
        display: none;
      }
    }

    &--3 {
      // grid-column: 6 / 2 span;
      position: relative;

      .default__item {
        position: absolute;
        transform: translateY(-68%);
        min-width: 264px;
        max-width: 264px;
        max-height: 330px;
        min-height: 330px;

        @include big-desktop {
          min-width: 194px;
          max-width: 194px;
          max-height: 241px;
          min-height: 241px;
        }

        @include tablet {
          transform: translateY(-120%);
          min-width: 144px;
          max-width: 144px;
          max-height: 179px;
          min-height: 179px;
        }
      }

      @include mobile {
        display: none;
      }
    }

    &--4 {
      // grid-column: 8 / 3 span;
      position: relative;
      z-index: 6;

      .default__item {
        transform: translateX(264px);

        position: absolute;
        z-index: 2;
        min-width: 404px;
        max-width: 404px;
        max-height: 537px;
        min-height: 537px;

        @include big-desktop {
          transform: translateX(194px);
          min-width: 300px;
          max-width: 300px;
          max-height: 398px;
          min-height: 398px;
        }

        @include tablet {
          transform: translateX(144px) translateY(-44%);
          min-width: 220px;
          max-width: 220px;
          max-height: 292px;
          min-height: 292px;
        }

        @include small-tablet {
          transform: translateX(144px) translateY(-44%);
        }
      }

      @include mobile {
        display: none;
      }
    }

    &--5 {
      // grid-column: 10 / 2 span;
      // position: relative;

      .default__item {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-65%) translateX(130px);
        min-width: 500px;
        max-width: 500px;

        @include big-desktop {
          transform: translateY(-65%) translateX(100px);
          min-width: 400px;
          max-width: 400px;
        }

        @include tablet {
          transform: translateY(-130%) translateX(50px);
          min-width: 218px;
          max-width: 218px;
        }

        @include small-tablet {
          transform: translateY(-133%) translateX(50px);
        }

        @include mobile {
          transform: none;
          position: relative;
          min-width: 0px;
          max-width: 100%;
        }
      }
    }

    &--6 {
      grid-column: 2 / 3 span;

      .default__item {
        max-width: 403px;
        min-width: 403px;
        max-height: 537px;
        min-height: 537px;

        @include big-desktop {
          max-width: 300px;
          min-width: 300px;
          max-height: 398px;
          min-height: 398px;
        }

        @include tablet {
          min-width: 218px;
          max-width: 218px;
          max-height: 292px;
          min-height: 292px;
        }
      }

      @include mobile {
        display: none;
      }
    }
  }
}
