.drops {
  &__container {
    .title {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 150px;

      @include mobile {
        margin-bottom: 70px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 70px;
    margin-bottom: 400px;

    @include big-desktop {
      row-gap: 50px;
      margin-bottom: 300px;
    }

    @include tablet {
      column-gap: 30px;
      row-gap: 30px;
      margin-bottom: 250px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0px;
      row-gap: 25px;
      margin-bottom: 200px;
    }

    &.desk {
      @include mobile {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @include mobile {
        display: grid;

        .default__item--mobile {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__block {
    .default__item {
      margin-bottom: 20px;
      max-width: 805px;
      max-height: 838px;

      .default__item--before {
        width: 100%;
        height: 100%;
      }

      .default__item--after {
        width: 100%;
        height: 100%;
      }

      .image {
        width: 100%;
        height: 100%;
      }

      video {
        transform: scale(1.5);
        width: 100%;
        height: 100%;
      }

      @include big-desktop {
        max-width: 595px;
        max-height: 576px;
        margin-bottom: 15px;
      }

      @include mobile {
        max-width: 576px;
        max-height: 576px;
        margin-bottom: 10px;
      }
    }

    .text {
      p {
        text-transform: uppercase;
      }
    }
  }
}
