.policy {
    &__container {


        .container {
            @include big-desktop {
                max-width: 1214px;
                padding: 0 50px;
            }

            @include mobile {
                padding: 0 15px;
            }
        }



    }

    .title {
        margin-bottom: 70px;
        text-align: center;
        @include big-desktop {
            text-align: left;
        }

        h1 {
            @include tablet {
                font-size: 36px;
            }

            @include mobile {
                font-size: 16px;
                line-height: 160%;

            }
        }
    }

    &__content {
        margin-bottom: 300px;

        @include tablet {
            margin-bottom: 250px;
        }

        @include mobile {
            margin-bottom: 200px;
        }
        a {
            color: var(--primary1);

            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 0.05em;

            transition: all 0.3s ease;

            @include hover {
                opacity: 0.5;
            }
        }

        &--text {
            display: flex;
            justify-content: flex-end;
            padding-right: 66px;

            @include big-desktop {
                padding-right: 0;
                justify-content: flex-start;
            }
            .text {
                max-width: 1208px;

                @include big-desktop {
                    max-width: 100%;
                }
            }

        }


    }
}
