<div class="blockM">
    <div class="blockM__container">
        <div class="blockM__content">
            <div class="blockM__video">
                <video src="./img/videobigSmall.mp4"
                loop
                muted
                webkit-playsinline="true"
                playsinline="true"
                ></video>
                <!-- autoplay -->
            </div>
            <div class="blockM__link">
                <a href="#catalog">
                    <svg class="svg--logo--big" viewBox="0 0 1132 149">
                      <use xlink:href="img/sprite.svg#logoBig"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
