<section class="catalog" id="catalog">
  <div class="catalog__container">
    <div class="container">
      <div class="title">
        <h1>КАТАЛОГ</h1>
      </div>
      <div class="catalog__content desk">
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-444-1.webp" type="image/webp">
                      <img  src="./img/block-444-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-532-1.webp" type="image/webp">
                      <img  src="./img/block-532-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>ФУТБОЛКИ И ТОПЫ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">

                    <picture>
                      <source srcset="./img/block-683-4.webp" type="image/webp">
                      <img  src="./img/block-683-4.jpg" class="image" alt="" />
                    </picture>

                  </div>

                  <div class="default__item--after">
                     <video
                      src="./img/video-2.mp4"
                      loop
                      autoplay
                      playsinline
                      muted
                    ></video>

                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>СВИТШОТЫ И ХУДИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-805-6.webp" type="image/webp">
                      <img  src="./img/block-805-6.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-543-2.webp" type="image/webp">
                      <img  src="./img/block-543-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>БРЮКИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-805-5.webp" type="image/webp">
                      <img  src="./img/block-805-5.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-544-2.webp" type="image/webp">
                      <img  src="./img/block-544-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>РУБАШКИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-403-1.webp" type="image/webp">
                      <img  src="./img/block-403-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-404-2.webp" type="image/webp">
                      <img  src="./img/block-404-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>ВЕРХНЯЯ ОДЕЖДА</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-683-1.webp" type="image/webp">
                      <img  src="./img/block-683-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-683-5.webp" type="image/webp">
                      <img  src="./img/block-683-5.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>АКСЕССУАРЫ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
      <div class="catalog__content mobile">
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-444-1.webp" type="image/webp">
                      <img  src="./img/block-444-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-532-1.webp" type="image/webp">
                      <img  src="./img/block-532-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>ФУТБОЛКИ И ТОПЫ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">

                    <picture>
                      <source srcset="./img/block-683-4.webp" type="image/webp">
                      <img  src="./img/block-683-4.jpg" class="image" alt="" />
                    </picture>

                  </div>

                  <div class="default__item--after">
                     <video
                      src="./img/video-2.mp4"
                      loop
                      autoplay
                      playsinline
                      muted
                    ></video>

                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>СВИТШОТЫ И ХУДИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-805-6.webp" type="image/webp">
                      <img  src="./img/block-805-6.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-543-2.webp" type="image/webp">
                      <img  src="./img/block-543-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>БРЮКИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-805-5.webp" type="image/webp">
                      <img  src="./img/block-805-5.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-544-2.webp" type="image/webp">
                      <img  src="./img/block-544-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>РУБАШКИ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-403-1.webp" type="image/webp">
                      <img  src="./img/block-403-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-404-2.webp" type="image/webp">
                      <img  src="./img/block-404-2.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>ВЕРХНЯЯ ОДЕЖДА</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="catalog__box">
          <div class="default__block">
            <a href="">
              <div class="default__boxs">
                <div class="default__item">
                  <div class="default__item--before">
                    <picture>
                      <source srcset="./img/block-683-1.webp" type="image/webp">
                      <img  src="./img/block-683-1.jpg" class="image" alt="" />
                    </picture>
                  </div>
                  <div class="default__item--after">
                    <picture>
                      <source srcset="./img/block-683-5.webp" type="image/webp">
                      <img  src="./img/block-683-5.jpg" class="image" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="default__item--text">
                  <div class="text">
                    <p>АКСЕССУАРЫ</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
