<section class="contact">
  <div class="contact__container">
    <div class="container">
      <div class="contact__content desk">
        <div class="contact__img contact__img--1">
          <div class="default__item">
            <div class="default__item--before">
              <picture>
                <source srcset="./img/block-805-4.webp" type="image/webp" />
                <img src="./img/block-805-4.jpg" class="image" alt="" />
              </picture>
            </div>
            <div class="default__item--after">
              <picture>
                <source srcset="./img/block-403-2.webp" type="image/webp" />
                <img src="./img/block-403-2.jpg" class="image" alt="" />
              </picture>
            </div>
          </div>

        </div>
        <div class="contact__info">
          <div class="title">
            <h1>КОНТАКТЫ</h1>
          </div>
          <nav class="nav-menu" title="">
            <ul>
              <li class="menu-item">
                <a href="#" target="_blank">INSTAGRAM</a>
              </li>
              <li class="menu-item"><a href="#" target="_blank">Youtube</a></li>
              <li class="menu-item">
                <a href="#" target="_blank">TELEGRAM</a>
              </li>
              <li class="menu-item">
                <a href="#" target="_blank">ВКОНТАКТЕ</a>
              </li>
              <li class="menu-item"><a href="mailto:sdf@mail.ru">E-mail</a></li>
            </ul>
          </nav>
        </div>

        <div class="contact__img contact__img--2">
          <div class="default__item">
            <div class="default__item--before">
              <video
                src="./img/video-1.mp4"
                loop
                muted
                webkit-playsinline="true"
                playsinline="true"
                autoplay
              ></video>
            </div>
            <div class="default__item--after">
              <picture>
                <source srcset="./img/block-403-4.webp" type="image/webp" />
                <img src="./img/block-403-4.jpg" class="image" alt="" />
              </picture>
            </div>
          </div>
        </div>
        <div class="contact__img--group">
          <div class="contact__img contact__img--3">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-2.webp" type="image/webp" />
                  <img src="./img/block-805-2.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-264-1.webp" type="image/webp" />
                  <img src="./img/block-264-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>

          </div>
          <div class="contact__img contact__img--4">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-683-1.webp" type="image/webp" />
                  <img src="./img/block-683-1.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-403-3.webp" type="image/webp" />
                  <img src="./img/block-403-3.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>

          </div>
<!--          пятое изображение уходит в мобилкку-->
          <div class="contact__img contact__img--5">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-6.webp" type="image/webp" />
                  <img src="./img/block-805-6.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-500-1.webp" type="image/webp" />
                  <img src="./img/block-500-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>

          </div>
        </div>
        <div class="contact__img contact__img--6">
          <div class="default__item">
            <div class="default__item--before">
              <video
                src="./img/video-1.mp4"
                loop
                muted
                webkit-playsinline="true"
                playsinline="true"
                autoplay
              ></video>
            </div>
            <div class="default__item--after">
              <picture>
                <source srcset="./img/block-403-1.webp" type="image/webp" />
                <img src="./img/block-403-1.jpg" class="image" alt="" />
              </picture>
            </div>
          </div>

        </div>
      </div>
      <div class="contact__content mobile">
        <div class="contact__info">
          <div class="title">
            <h1>КОНТАКТЫ</h1>
          </div>
          <nav class="nav-menu" title="">
            <ul>
              <li class="menu-item">
                <a href="#" target="_blank">INSTAGRAM</a>
              </li>
              <li class="menu-item"><a href="#" target="_blank">Youtube</a></li>
              <li class="menu-item">
                <a href="#" target="_blank">TELEGRAM</a>
              </li>
              <li class="menu-item">
                <a href="#" target="_blank">ВКОНТАКТЕ</a>
              </li>
              <li class="menu-item"><a href="mailto:sdf@mail.ru">E-mail</a></li>
            </ul>
          </nav>
        </div>
        <div class="default__item--mobile">
          <picture>
            <source srcset="./img/block-500-1.webp" type="image/webp" />
            <img src="./img/block-500-1.jpg" class="image" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
