<section class="drops">
  <div class="drops__container">
    <div class="container">
      <div class="title">
        <h1>КОЛЛЕКЦИИ</h1>
      </div>
      <div class="drops__content desk">
        <div class="drops__block">
          <a href="drop.html">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-5.webp" type="image/webp"/>
                  <img src="./img/block-805-5.jpg" class="image" alt=""/>
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-1.webp" type="image/webp"/>
                  <img src="./img/block-805-1.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ОСЕНЬ-ЗИМА 2022/2023</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <video
                  src="./img/video-1.mp4"
                  loop
                  muted
                  webkit-playsinline="true"
                  playsinline="true"
                  autoplay
                ></video>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-2.webp" type="image/webp"/>
                  <img src="./img/block-805-2.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ОСЕНЬ 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-2.webp" type="image/webp"/>
                  <img src="./img/block-805-2.jpg" class="image" alt=""/>
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-3.webp" type="image/webp"/>
                  <img src="./img/block-805-3.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ЛЕТО 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-1.webp" type="image/webp"/>
                  <img src="./img/block-805-1.jpg" class="image" alt=""/>
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-4.webp" type="image/webp"/>
                  <img src="./img/block-805-4.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ВЕСНА-ЛЕТО 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-1.webp" type="image/webp"/>
                  <img src="./img/block-805-1.jpg" class="image" alt=""/>
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-5.webp" type="image/webp"/>
                  <img src="./img/block-805-5.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ВЕСНА 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-805-1.webp" type="image/webp"/>
                  <img src="./img/block-805-1.jpg" class="image" alt=""/>
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-805-6.webp" type="image/webp"/>
                  <img src="./img/block-805-6.jpg" class="image" alt=""/>
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ЗИМА-ВЕСНА 2022</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="drops__content mobile">
        <div class="drops__block">
          <a href="drop.html">
            <div class="default__item--mobile">
              <picture>
                <source srcset="./img/block-805-1.webp" type="image/webp"/>
                <img src="./img/block-805-1.jpg" class="image" alt=""/>
              </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ОСЕНЬ-ЗИМА 2022/2023</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item--mobile">
              <picture>
                <source srcset="./img/block-805-2.webp" type="image/webp"/>
                <img src="./img/block-805-2.jpg" class="image" alt=""/>
              </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ОСЕНЬ 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item--mobile">
              <picture>
                <source srcset="./img/block-805-3.webp" type="image/webp"/>
                <img src="./img/block-805-3.jpg" class="image" alt=""/>
              </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ЛЕТО 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item--mobile">
              <picture>
                <source srcset="./img/block-805-4.webp" type="image/webp"/>
                <img src="./img/block-805-4.jpg" class="image" alt=""/>
              </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ВЕСНА-ЛЕТО 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item--mobile">
              <picture>
                <source srcset="./img/block-805-5.webp" type="image/webp"/>
                <img src="./img/block-805-5.jpg" class="image" alt=""/>
              </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ВЕСНА 2022</p>
              </div>
            </div>
          </a>
        </div>
        <div class="drops__block">
          <a href="">
            <div class="default__item--mobile">
                <picture>
                  <source srcset="./img/block-805-6.webp" type="image/webp"/>
                  <img src="./img/block-805-6.jpg" class="image" alt=""/>
                </picture>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>ЗИМА-ВЕСНА 2022</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
