<section class="drop">
  <div class="drop__container">
    <div class="container">
      <div class="title">
        <h1>ОСЕНЬ-ЗИМА 2022/2023</h1>
      </div>

      <div class="drop__content">
        <div class="drop__img">
          <picture>
            <source srcset="./img/block-1660-1.webp" type="image/webp" />
            <img src="./img/block-1660-1.jpg" class="image" alt="" />
          </picture>
        </div>
        <div class="text">
          <p>
            Преодолевая по 10 километров в день, гуляя по горам и отвесным
            мысам, мы ночевали в палатках и постоянно обменивались впечатлениями
            друг с другом. Для некоторых это был первый опыт хайкинга, который
            открыл целое направление активного отдыха. В качестве экипировки у
            нас были с собой функциональные и непромокаемые модели из коллекции
            SS’22 – они позволили оставаться в комфорте при резкой смене
            температур и погодных условий.
          </p>
        </div>
        <div class="drop__img">
          <picture>
            <source srcset="./img/block-1660-2.webp" type="image/webp" />
            <img src="./img/block-1660-2.jpg" class="image" alt="" />
          </picture>
        </div>
        <div class="drop__img">
          <picture>
            <source srcset="./img/block-1660-3.webp" type="image/webp" />
            <img src="./img/block-1660-3.jpg" class="image" alt="" />
          </picture>
        </div>
        <div class="drop__img">
          <picture>
            <source srcset="./img/block-1660-4.webp" type="image/webp" />
            <img src="./img/block-1660-4.jpg" class="image" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
