<section class="error">
    <div class="error__container">
        <div class="container">
            <div class="error__content">
                <div class="error__title">
                    <h1>Страница не найдена.</h1>
                </div>
                <div class="error__button">
                    <a href="home.html" class="btn-reset btn__default">НА ГЛАВНУЮ</a>
                </div>
                <div class="error__img">
                    <svg class="svg-error" viewBox="0 0 1660 429">
                      <use xlink:href="img/sprite.svg#error"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
