<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__content--right">
          <div class="footer__list footer__list--right">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item"><a href="mission.html">МИССИЯ</a></li>
                <li class="menu-item"><a href="home.html">КАТАЛОГ</a></li>
                <li class="menu-item"><a href="drops.html">КОЛЛЕКЦИИ</a></li>
                <li class="menu-item">
                  <a href="care.html">УХОД ЗА ИЗДЕЛИЯМИ</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="footer__content--left">
          <div class="footer__list footer__list--left">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item">
                  <a href="#" target="_blank">Telegram</a>
                </li>
                <li class="menu-item">
                  <a href="#" target="_blank">INSTAGRAM</a>
                </li>
                <li class="menu-item">
                  <a href="#" target="_blank">Youtube</a>
                </li>
                <li class="menu-item">
                  <a href="#" target="_blank">ВКОНТАКТЕ</a>
                </li>
                <li class="menu-item">
                  <a href="mailto:sdf@ima.ru">E-mail</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <span>© BOLSHE</span
        ><a href="policy.html">Политика конфедициальности</a>
      </div>
    </div>
  </div>
</footer>
