<header class="header">
  <div class="header__container">
    <div class="header__content">
      <div class="header__content--left">
        <div class="header__logo header__logo--tablet">
          <div class="header__logo--before">
            <a href="">
              <svg class="svg--logo--small" viewBox="0 0 40 46">
                <use xlink:href="img/sprite.svg#logoSmall"></use>
              </svg>
            </a>
          </div>
          <div class="header__logo--after">
            <a href="">
              <svg class="svg--logo--letter" viewBox="0 0 155 31">
                <use xlink:href="img/sprite.svg#logoLetterShort"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="header__logo--mobile">
          <a href="">
            <svg class="svg--logo--mob" viewBox="0 0 40 46">
              <use xlink:href="img/sprite.svg#logoSmall"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="header__content--right">
        <div class="header__list">
          <div class="header__list--subtitle">
            <span class="header__list--selected">О НАС</span
            ><span class="header__list--caret"></span>
          </div>
          <nav class="nav-menu" title="">
            <ul>
              <li class="menu-item"><a href="mission.html">МИССИЯ</a></li>
              <li class="menu-item"><a href="home.html#catalog">КАТАЛОГ</a></li>
              <li class="menu-item"><a href="drops.html">КОЛЛЕКЦИИ</a></li>
              <li class="menu-item">
                <a href="care.html">УХОД ЗА ИЗДЕЛИЯМИ</a>
              </li>
              <li class="menu-item"><a href="contact.html">КОНТАКТЫ</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__burger">
          <button
            class="btn-reset burger"
            aria-label="Открыть меню"
            aria-expanded="false"
            data-burger
          >
            <span class="burger__line"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>
      </div>
      <div class="header__menu" data-menu>
        <nav class="nav-menu" title="">
          <ul>
            <li class="menu-item"><a data-menu-item href="mission.html">МИССИЯ</a></li>
            <li class="menu-item"><a data-menu-item href="home.html#catalog">КАТАЛОГ</a></li>
            <li class="menu-item"><a data-menu-item href="drops.html">КОЛЛЕКЦИИ</a></li>
            <li class="menu-item"><a data-menu-item href="care.html">УХОД ЗА ИЗДЕЛИЯМИ</a></li>
            <li class="menu-item"><a data-menu-item  href="contact.html">КОНТАКТЫ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
