<section class="mission">
  <div class="mission__container">
    <div class="container">
      <div class="title">
        <h1>BOLSHE, ЧЕМ ТЫ ОЖИДАЕШЬ</h1>
      </div>
      <div class="mission__content mission__content--desk desk">
        <div class="mission__box mission__box--1">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <video
                  src="./img/video-1.mp4"
                  loop
                  muted
                  webkit-playsinline="true"
                  playsinline="true"
                  autoplay
                ></video>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-683-1.webp" type="image/webp">
                  <img src="./img/block-683-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  BLSH не просто про вещи. Наш бренд - комьюнити уверенных и
                  свободных людей, которые любят минимализм и обращают внимание
                  на детали.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box mission__box--2">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-403-3.webp" type="image/webp">
                  <img src="./img/block-403-3.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-543-1.webp" type="image/webp">
                  <img src="./img/block-543-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  Мы остро чувствуем потребность в лаконичных вещах, поэтому не
                  перегружаем наши изделия, оставляя возможность стилизовать
                  вещи по-своему.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box mission__box--3">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-500-1.webp" type="image/webp">
                  <img src="./img/block-500-1.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-404-1.webp" type="image/webp">
                  <img src="./img/block-404-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  Лаконичный крой, однотонные «природные» цвета, отсутствие
                  принтов и логотипов на внешних частях одежды. Каждая деталь
                  несет определенную функцию, для каждой линейки подбираются
                  подходящие лишь ей материалы и фурнитура
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box mission__box--4">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-290-1.webp" type="image/webp">
                  <img src="./img/block-290-1.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-316.webp" type="image/webp">
                  <img src="./img/block-316.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
          </div>
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-544-2.webp" type="image/webp">
                  <img src="./img/block-544-2.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-544-1.webp" type="image/webp">
                  <img src="./img/block-544-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
          </div>
          <div class="default__block">
            <div class="default__item--text">
              <div class="text">
                <p>
                  Таким образом мы стремимся не только к универсальности, но и к
                  долговечности одежды, что одновременно является и шагом на
                  пути к устойчивому развитию.
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="mission__content mobile">
        <div class="mission__box">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <video
                  src="./img/video-1.mp4"
                  loop
                  muted
                  webkit-playsinline="true"
                  playsinline="true"
                  autoplay
                ></video>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-683-1.webp" type="image/webp">
                  <img src="./img/block-683-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  BLSH не просто про вещи. Наш бренд - комьюнити уверенных и
                  свободных людей, которые любят минимализм и обращают внимание
                  на детали.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-403-3.webp" type="image/webp">
                  <img src="./img/block-403-3.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-543-1.webp" type="image/webp">
                  <img src="./img/block-543-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  Мы остро чувствуем потребность в лаконичных вещах, поэтому не
                  перегружаем наши изделия, оставляя возможность стилизовать
                  вещи по-своему.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-500-1.webp" type="image/webp">
                  <img src="./img/block-500-1.jpg" class="image" alt="" />
                </picture>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-404-1.webp" type="image/webp">
                  <img src="./img/block-404-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  Лаконичный крой, однотонные «природные» цвета, отсутствие
                  принтов и логотипов на внешних частях одежды. Каждая деталь
                  несет определенную функцию, для каждой линейки подбираются
                  подходящие лишь ей материалы и фурнитура
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mission__box">
          <div class="default__block">
            <div class="default__item">
              <div class="default__item--before">
                <video
                  src="./img/video-1.mp4"
                  loop
                  muted
                  webkit-playsinline="true"
                  playsinline="true"
                  autoplay
                ></video>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-290-1.webp" type="image/webp">
                  <img src="./img/block-290-1.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
            <div class="default__item--text">
              <div class="text">
                <p>
                  Таким образом мы стремимся
                  не только к универсальности, но
                  и к долговечности одежды, что одновременно является и шагом
                  на пути к устойчивому развитию.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

