<div class="modal">
    <!-- их 4 сделано для примера -->
    <div class="modal__container">
        <div class="graph-modal">
          <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
            <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><div class="btn__close">
                <span class="close__line"></span>
                <span class="close__line"></span>
            </div></button>
            <div class="graph-modal__content">
                <div class="modal__content modal__content--modal">
                    <picture>
                      <img src="./img/block-596-1.jpg" class="image" alt="">
                    </picture>
                </div>
            </div>
          </div>
          <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal2">
            <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><div class="btn__close">
                <span class="close__line"></span>
                <span class="close__line"></span>
            </div></button>
            <div class="graph-modal__content">
                <div class="modal__content modal__content--modal">
                    <picture>
                      <img src="./img/block-596-1.jpg" class="image" alt="">
                    </picture>
                </div>
            </div>
          </div>
          <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal3">
            <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><div class="btn__close">
                <span class="close__line"></span>
                <span class="close__line"></span>
            </div></button>
            <div class="graph-modal__content">
                <div class="modal__content modal__content--modal">
                    <picture>
                      <img src="./img/block-596-1.jpg" class="image" alt="">
                    </picture>
                </div>
            </div>
          </div>
          <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal4">
            <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><div class="btn__close">
                <span class="close__line"></span>
                <span class="close__line"></span>
            </div></button>
            <div class="graph-modal__content">
                <div class="modal__content modal__content--modal">
                    <picture>
                      <img src="./img/block-596-1.jpg" class="image" alt="">
                    </picture>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
