<section class="policy">
  <div class="policy__container">
    <div class="container">
      <div class="policy__content">
        <div class="title">
          <h1>Политика конфедициальности</h1>
        </div>
        <div class="policy__content--text">
          <div class="text">
            <ol>
              <li>
                ОБЩИЕ ПОЛОЖЕНИЯ
                <ol>
                  <li>
                    Настоящее Пользовательское соглашение (далее – Соглашение)
                    относится к сайту Интернет-магазина «Garage est.2016»,
                    расположенному по адресу www.garage-est2016.ru, и ко всем
                    соответствующим сайтам, связанным с сайтом
                    <a href="#">www.garage-est2016.ru.</a>
                  </li>
                  <li>
                    Сайт Интернет-магазина «Garage est.2016» (далее – Сайт)
                    является собственностью ИП Пашкуть Н.О.
                  </li>
                  <li>
                    Настоящее Соглашение регулирует отношения между
                    Администрацией сайта Интернет-магазина «Garage est.2016»
                    (далее – Администрация сайта) и Пользователем данного Сайта.
                  </li>
                  <li>
                    Администрация сайта оставляет за собой право в любое время
                    изменять, добавлять или удалять пункты настоящего Соглашения
                    без уведомления Пользователя.
                  </li>
                  <li>
                    Продолжение использования Сайта Пользователем означает
                    принятие Соглашения и изменений, внесенных в настоящее
                    Соглашение.
                  </li>
                  <li>
                    Пользователь несет персональную ответственность за проверку
                    настоящего Соглашения на наличие изменений в нем.
                  </li>
                </ol>
              </li>
              <li>
                ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
                <ol>
                  <li>
                    Перечисленные ниже термины имеют для целей настоящего
                    Соглашения следующее значение:
                  </li>
                  <li>
                    «Garage est.2016» – Интернет-магазин, расположенный на
                    доменном имени garage-est2016.com, осуществляющий свою
                    деятельность посредством Интернет-ресурса и сопутствующих
                    ему сервисов.
                  </li>
                  <li>
                    Интернет-магазин – сайт, содержащий информацию о Товарах,
                    Продавце, позволяющий осуществить выбор, заказ и (или)
                    приобретение Товара.
                  </li>
                  <li>
                    Администрация сайта Интернет-магазина – уполномоченные
                    сотрудники на управления Сайтом, действующие от имени
                    название организации.
                  </li>
                  <li>
                    Пользователь сайта Интернет-магазина (далее Пользователь) –
                    лицо, имеющее доступ к Сайту, посредством сети Интернет и
                    использующее Сайт.
                  </li>
                  <li>
                    Содержание сайта Интернет-магазина (далее – Содержание) -
                    охраняемые результаты интеллектуальной деятельности, включая
                    тексты литературных произведений, их названия, предисловия,
                    аннотации, статьи, иллюстрации, обложки, музыкальные
                    произведения с текстом или без текста, графические,
                    текстовые, фотографические, производные, составные и иные
                    произведения, пользовательские интерфейсы, визуальные
                    интерфейсы, названия товарных знаков, логотипы, программы
                    для ЭВМ, базы данных, а также дизайн, структура, выбор,
                    координация, внешний вид, общий стиль и расположение данного
                    Содержания, входящего в состав Сайта и другие объекты
                    интеллектуальной собственности все вместе и/или по
                    отдельности, содержащиеся на сайте Интернет-магазина.
                  </li>
                </ol>
              </li>
              <li>
                ПРЕДМЕТ СОГЛАШЕНИЯ
                <ol>
                  <li>
                    Предметом настоящего Соглашения является предоставление
                    Пользователю Интернет-магазина доступа к содержащимся на
                    Сайте Товарам и оказываемым услугам.
                  </li>
                  <li>
                    Интернет-магазин предоставляет Пользователю следующие виды
                    услуг (сервисов):
                    <ul>
                      <li>
                        предоставление Пользователю возможности размещения
                        сообщений, комментариев, рецензий Пользователей,
                        выставления оценок контенту Интернет-магазина;
                      </li>
                      <li>
                        доступ к средствам поиска и навигации Интернет-магазина;
                      </li>
                      <li>
                        доступ к информации о Товаре и к информации о
                        приобретении Товара на платной основе;
                      </li>
                      <li>
                        иные виды услуг (сервисов), реализуемые на страницах
                        Интернет-магазина.
                      </li>
                    </ul>
                  </li>
                  <li>
                    Под действие настоящего Соглашения подпадают все
                    существующие (реально функционирующие) на данный момент
                    услуги (сервисы) Интернет-магазина, а также любые их
                    последующие модификации и появляющиеся в дальнейшем
                    дополнительные услуги (сервисы) Интернет-магазина.
                  </li>
                  <li>
                    Доступ к Интернет-магазину предоставляется на свободной
                    основе и предоставляется "как есть".
                  </li>
                  <li>
                    Настоящее Соглашение является публичной офертой. Получая
                    доступ к Сайту Пользователь считается присоединившимся к
                    настоящему Соглашению.
                  </li>
                  <li>
                    Использование материалов и сервисов Сайта регулируется
                    нормами действующего законодательства Российской Федерации.
                  </li>
                </ol>
              </li>
              <li>
                ПРАВА И ОБЯЗАННОСТИ СТОРОН
                <ol>
                  <li>Администрация сайта вправе:</li>
                  <li>
                    Изменять правила пользования Сайтом, а также изменять
                    содержание данного Сайта. Изменения вступают в силу с
                    момента публикации новой редакции Соглашения на Сайте.
                  </li>
                  <li>
                    Ограничить доступ к Сайту в случае нарушения Пользователем
                    условий настоящего Соглашения.
                  </li>
                  <li>
                    Изменять размер оплаты, взимаемый за предоставление доступа
                    к использованию сайта Интернет-магазина. Изменение стоимости
                    не будет распространяться на Пользователей, имеющих
                    регистрацию к моменту изменения размера оплаты, за
                    исключением случаев, особо оговоренных Администрацией сайта
                    интернет-магазина.
                  </li>
                  <li>Пользователь вправе:</li>
                  <li>
                    Получить доступ к использованию Сайта после соблюдения
                    требований о регистрации и оплате.
                  </li>
                  <li>
                    Пользоваться всеми имеющимися на Сайте услугами, а также
                    приобретать любые Товары, предлагаемые на Сайте.
                  </li>
                  <li>
                    Задавать любые вопросы, относящиеся к услугам
                    Интернет-магазина по реквизитам, которые находятся в разделе
                    Сайта «реквизиты».
                  </li>
                  <li>
                    Пользоваться Сайтом исключительно в целях и порядке,
                    предусмотренных Соглашением и не запрещенных
                    законодательством Российской Федерации.
                  </li>
                  <li>Пользователь Сайта обязуется:</li>
                  <li>
                    Предоставлять по запросу Администрации сайта дополнительную
                    информацию, которая имеет непосредственное отношение к
                    предоставляемым услугам данного Сайта.
                  </li>
                  <li>
                    Соблюдать имущественные и неимущественные права авторов и
                    иных правообладателей при использовании Сайта.
                  </li>
                  <li>
                    Не предпринимать действий, которые могут рассматриваться как
                    нарушающие нормальную работу Сайта.
                  </li>
                  <li>
                    Не распространять с использованием Сайта любую
                    конфиденциальную и охраняемую законодательством Российской
                    Федерации информацию о физических либо юридических лицах.
                  </li>
                  <li>
                    Избегать любых действий, в результате которых может быть
                    нарушена конфиденциальность охраняемой законодательством
                    Российской Федерации информации.
                  </li>
                  <li>
                    Не использовать Сайт для распространения информации
                    рекламного характера, иначе как с согласия Администрации
                    сайта.
                  </li>
                  <li>
                    Не использовать сервисы сайта Интернет-магазина с целью:
                  </li>
                  <li>
                    загрузки контента, который является незаконным, нарушает
                    любые права третьих лиц; пропагандирует насилие, жестокость,
                    ненависть и (или) дискриминацию по расовому, национальному,
                    половому, религиозному, социальному признакам; содержит
                    недостоверные сведения и (или) оскорбления в адрес
                    конкретных лиц, организаций, органов власти.
                  </li>
                  <li>
                    побуждения к совершению противоправных действий, а также
                    содействия лицам, действия которых направлены на нарушение
                    ограничений и запретов, действующих на территории Российской
                    Федерации.
                  </li>
                  <li>
                    нарушения прав несовершеннолетних лиц и (или) причинение им
                    вреда в любой форме.
                  </li>
                  <li>ущемления прав меньшинств.</li>
                  <li>
                    представления себя за другого человека или представителя
                    организации и (или) сообщества без достаточных на то прав, в
                    том числе за сотрудников данного Интернет-магазина.
                  </li>
                  <li>
                    введения в заблуждение относительно свойств и характеристик
                    какого-либо Товара из каталога Интернет-магазина,
                    размещенного на Сайте.
                  </li>
                  <li>
                    некорректного сравнения Товара, а также формирования
                    негативного отношения к лицам, (не) пользующимся
                    определенными Товарами, или осуждения таких лиц.
                  </li>
                  <li>Пользователю запрещается:</li>
                  <li>
                    Использовать любые устройства, программы, процедуры,
                    алгоритмы и методы, автоматические устройства или
                    эквивалентные ручные процессы для доступа, приобретения,
                    копирования или отслеживания содержания Сайта данного
                    Интернет-магазина;
                  </li>
                  <li>
                    Любым способом обходить навигационную структуру Сайта для
                    получения или попытки получения любой информации, документов
                    или материалов любыми средствами, которые специально не
                    представлены сервисами данного Сайта;
                  </li>
                  <li>
                    Несанкционированный доступ к функциям Сайта, любым другим
                    системам или сетям, относящимся к данному Сайту, а также к
                    любым услугам, предлагаемым на Сайте;
                  </li>
                  <li>
                    Нарушать систему безопасности или аутентификации на Сайте
                    или в любой сети, относящейся к Сайту.
                  </li>
                  <li>
                    Выполнять обратный поиск, отслеживать или пытаться
                    отслеживать любую информацию о любом другом Пользователе
                    Сайта.
                  </li>
                  <li>
                    Использовать Сайт и его Содержание в любых целях,
                    запрещенных законодательством Российской Федерации, а также
                    подстрекать к любой незаконной деятельности или другой
                    деятельности, нарушающей права интернет-магазина или других
                    лиц.
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
