<section class="smi">
  <div class="smi__container">
    <div class="container">
      <div class="subtitle">
        <h2>Упоминания в СМИ</h2>
      </div>
      <div class="smi__content">
        <div class="smi__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-885-1.webp" type="image/webp" />
                  <img src="./img/block-885-1.jpg" class="image" alt="" />
                </picture>
                <div class="smi__span">подробнее</div>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-885-2.webp" type="image/webp" />
                  <img src="./img/block-885-2.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
          </a>
        </div>
        <div class="smi__block">
          <a href="">
            <div class="default__item">
              <div class="default__item--before">
                <picture>
                  <source srcset="./img/block-885-1.webp" type="image/webp" />
                  <img src="./img/block-885-1.jpg" class="image" alt="" />
                </picture>
                <div class="smi__span">подробнее</div>
              </div>
              <div class="default__item--after">
                <picture>
                  <source srcset="./img/block-885-3.webp" type="image/webp" />
                  <img src="./img/block-885-3.jpg" class="image" alt="" />
                </picture>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
